<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Inicio</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <span class="navbar-brand">Conversor de divisas</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Inicio <span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#historial">Conversiones recientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="public/about.html">Acerca de nostros</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2 class="text-white text-center mt-5">Obtenga la conversión de moneda a: <span id="swapable">Peso mexicano</span></h2>

    <div class="container mt-5" id="app">
        <form>
            
            <div class="input-group input-group-lg">
                <input type="number" class="form-control" id="baseNumber" value="1" aria-label="Large"
                    aria-describedby="inputGroup-sizing-lg">
                
                <div class="input-group-prepend">
                  <select class="custom-select input-group-text bg-primary text-light h-100" id="base" v-model="basea">
                    <option class="pr-5" v-for="base in bases">
                      {{base}}
                    </option>
                  </select>
                    <!-- <select class="custom-select input-group-text bg-primary text-light h-100"
                        id="base">
                        <option class="pr-5">USD</option>
                        <option class="pr-5">HKD</option>
                        <option class="pr-5">ISK</option>
                        <option class="pr-5">PHP</option>
                        <option class="pr-5">DKK</option>
                        <option class="pr-5">HUF</option>
                        <option class="pr-5">CZK</option>
                        <option class="pr-5">GBP</option>
                        <option class="pr-5">RON</option>
                        <option class="pr-5">SEK</option>
                        <option class="pr-5">IDR</option>
                        <option class="pr-5">INR</option>
                        <option class="pr-5">BRL</option>
                        <option class="pr-5">RUB</option>
                        <option class="pr-5">HRK</option>
                        <option class="pr-5">JPY</option>
                        <option class="pr-5">THB</option>
                        <option class="pr-5">CHF</option>
                        <option class="pr-5">EUR</option>
                        <option class="pr-5">MYR</option>
                        <option class="pr-5">BGN</option>
                        <option class="pr-5">TRY</option>
                        <option class="pr-5">CNY</option>
                        <option class="pr-5">NOK</option>
                        <option class="pr-5">NZD</option>
                        <option class="pr-5">ZAR</option>
                        <option class="pr-5">CAD</option>
                        <option class="pr-5">MXN</option>
                        <option class="pr-5">SGD</option>
                        <option class="pr-5">AUD</option>
                        <option class="pr-5">ILS</option>
                        <option class="pr-5">KRW</option>
                        <option class="pr-5">PLN</option>
                    </select> -->
                </div>
            </div>
            
            <div class="row mt-5">
                <h4 class="text-white text-center col-5 offset-1 col-md-3 offset-md-3 col-lg-2 offset-lg-4">Convertir a:
                </h4>
                <select class="custom-select bg-primary text-light col-5 col-md-3 col-lg-2"id="target" v-model="targetv">
                  <option class="pr-5" v-for="target in targets">
                    {{ target }}
                  </option>
                </select>
                <!-- <select class="custom-select bg-primary text-light col-5 col-md-3 col-lg-2"id="target">
                    
                    <option class="pr-5">MXN</option>
                    <option class="pr-5">INR</option>                    
                    <option class="pr-5">HKD</option>
                    <option class="pr-5">ISK</option>
                    <option class="pr-5">PHP</option>
                    <option class="pr-5">DKK</option>    
                    <option class="pr-5">HUF</option>
                    <option class="pr-5">CZK</option>
                    <option class="pr-5">GBP</option>
                    <option class="pr-5">RON</option>
                    <option class="pr-5">SEK</option>
                    <option class="pr-5">IDR</option>
                    <option class="pr-5">CAD</option>
                    <option class="pr-5">BRL</option>
                    <option class="pr-5">RUB</option>
                    <option class="pr-5">HRK</option>
                    <option class="pr-5">JPY</option>
                    <option class="pr-5">THB</option>
                    <option class="pr-5">CHF</option>
                    <option class="pr-5">EUR</option>
                    <option class="pr-5">MYR</option>
                    <option class="pr-5">BGN</option>
                    <option class="pr-5">TRY</option>
                    <option class="pr-5">CNY</option>
                    <option class="pr-5">NOK</option>
                    <option class="pr-5">NZD</option>
                    <option class="pr-5">ZAR</option>
                    <option class="pr-5">USD</option>               
                    <option class="pr-5">SGD</option>
                    <option class="pr-5">AUD</option>
                    <option class="pr-5">ILS</option>   
                    <option class="pr-5">KRW</option>
                    <option class="pr-5">PLN</option>
                </select>              -->

            </div>
            
            <div class="row mt-5 input-group input-group-lg">
                <input type="number" class="form-control" id="targetNumber" aria-label="Large"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </form>

        <div class="text-white mt-3">{{$data}}</div>

      <!--  <div class="card mt-5 text-center">
            <div class="card-body">
                1 Dolar Estadounidense = 21.97 Pesos Mexicanos
            </div>
        </div>-->
        <h4 class="text-white text-center mt-5">Además podría interesarle...</h4>
        <div class="row mt-5 text-center">
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p>1 USD</p>
                        <p>73.16 Pesos Argentinos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p>1 USD</p>
                        <p>7.70 Quetzales</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p>1 USD</p>
                        <p>0.76 Libras Esterlinas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="historial" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-primary text-light">
                    <h3 class="text-center">Conversiones recientes</h3>
                    <table class="table bg-light mt-5">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col"></th>
                                <th scope="col">Conversión</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>1 USD</td>
                                <td>=</td>
                                <td>73.16 PA</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>1 USD</td>
                                <td>=</td>
                                <td>7.70 Q</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>1 USD</td>
                                <td>=</td>
                                <td>0.76 P</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="p-5 mt-5 bg-light text-center">
        <h5>© 2020 Copyright. Sitio Web construido con <a href="https://getbootstrap.com/">Bootstrap</a> para <a
                href="http://www.udb.edu.sv/udb/">UDB</a>.</h5>
    </footer>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/script.js"></script>
    <script src="js/script.vue.js"></script>
</body>
    
</html>


